.navigation-menu {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.navigation-menu__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.navigation-menu__title:nth-child(2) {
  margin-right: 0;
}

.navigation-menu__title_active {
  font-weight: 500;
}

.navigation-account {
  display: flex;
  align-items: center;
  margin-left: 50px;
  text-decoration: none;
}

.navigation-account__link {
  margin: 0;
  margin-right: 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.navigation-account__icon {
  width: 10.7px;
  height: 10.7px;
  border-radius: 6px;
  background-color: #313131;
  padding: 9.7px;
  object-position: center;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 70px;
  list-style: none;
  padding: 0;
}

.navigation-buttons__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navigation-buttons__button {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 20px;
  border-radius: 3px;
  border: none;
  background-color: #3ddc84;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.navigation-buttons__button_type_reg {
  padding: 0;
  background-color: transparent;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navigation-burger {
  background: url("../../images/icon_burger.svg") transparent no-repeat center;
  background-size: contain;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: none;
  display: none;
  cursor: pointer;
  margin-right: 30px;
}

.navigation-sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation-buttons {
    margin-right: 30px;
  }
}

@media screen and (max-width: 800px) {
  .navigation-menu {
    display: none;
  }

  .navigation-burger {
    display: block;
  }

  .navigation-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .navigation-sidebar_opened {
    visibility: visible;
    opacity: 1;
  }

  .navigation-sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202020;
    box-sizing: border-box;
    margin: 0;
    z-index: 2;
    height: 100%;
    width: 68%;
    position: fixed;
    top: 0;
    right: 0;
  }

  .navigation-sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-top: 159px;
    margin: 0;
  }

  .navigation-sidebar__title {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }

  .navigation-sidebar__title:first-of-type {
    padding-top: 0;
  }

  .navigation-sidebar__title:last-of-type {
    padding-bottom: 621px;
  }

  .navigation-sidebar__link {
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .navigation-sidebar__link_active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #fff;
    text-underline-offset: 4px;
    text-decoration-skip-ink: auto;
  }

  .navigation-account_sidebar {
    display: flex;
    padding: 0;
    padding-bottom: 92px;
    margin: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .navigation-close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 27px;
    right: 27px;
    background: url("../../images/close-burger.svg") no-repeat center
      transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

@media screen and (max-width: 565px) {
  .navigation-buttons {
    margin-right: 14px;
    gap: 14px;
  }

  .navigation-buttons__button {
    font-size: 10px;
    padding: 5px 12px;
  }

  .navigation-buttons__button_type_reg {
    font-size: 10px;
    padding: 0;
  }

  .navigation-burger {
    margin-right: 14px;
    width: 40px;
    height: 43px;
  }

  .navigation-sidebar__content {
    width: 100%;
  }

  .navigation-close {
    top: 16px;
    right: 19px;
  }

  .navigation-sidebar__menu {
    padding-top: 144px;
  }

  .navigation-sidebar__title {
    padding-top: 26px;
  }

  .navigation-sidebar__title:last-of-type {
    padding-bottom: 444px;
  }

  .navigation-sidebar__link_active {
    text-underline-offset: 7px;
  }
  
  .navigation-account_sidebar {
    padding-bottom: 48px;
  }
}