.authorization {
  margin: 70px auto;
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #202020;
}
  
.authorization__link {
  width: 38px;
  height: 38px;
  text-decoration: none;
  margin-bottom: 40px;
}
  
.authorization__logo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
  
.authorization__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
  
.authorization-form {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 396px;
}
  
.authorization-form__fieldset {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  border: none;
}
  
.authorization-form__input-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
  
.authorization-form__input-container:last-of-type {
  margin-bottom: 0;
}
  
.authorization-form__label {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  max-width: 396px;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}
  
.authorization-form__input {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  padding: 15px;
  max-width: 396px;
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  border-radius: 8px;
}
  
.authorization-form__input:focus {
  outline: none;
  opacity: 0.7;
}
  
.authorization-form__error {
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: block;
  max-height: 30px;
  max-width: 396px;
  color: #ee3465;
  align-self: flex-start;
}

.authorization-form__question-container {
  max-width: 286px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.authorization-form__button {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 69px 0;
  padding: 14px 125px 16px;
  color: #FFFFFF;
  border: none;
  max-width: 396px;
  border-radius: 3px;
  background: #4285f4;
  text-align: center;
  cursor: pointer;
}
  
.authorization-form__button:hover {
  opacity: 0.7;
  transition: opacity 0.4s linear 0.1s;
}
  
.authorization-form__question {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  max-width: 190px;
  color: #8b8b8b;
  text-align: center;
}
  
.authorization-form__question-link {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #4285f4;
}
  
@media screen and (max-width: 800px) {
  .authorization {
    margin: 232px auto;
  }
}
  
@media screen and (max-width: 450px) {
  .authorization {
    margin-top: 56px;
    margin-bottom: 30px;
    width: 260px;
  }

  .authorization__link {
    margin-bottom: 50px;
    align-self: center;
  }

  .authorization__title {
    align-self: center;
    margin-bottom: 80px;
  }

  .authorization-form__button {
    margin-top: 157px;
    margin-bottom: 14px;
    max-width: 260px;
    padding: 15px 67px;
    font-size: 12px;
  }

  .authorization-form__question {
    font-size: 12px;
    margin-right: 7px;
  }

  .authorization-form__question-link {
    font-size: 12px;
  }
}